.eb-test {
    background-color: red;
    color: green;
}
.eb-header {
    position: absolute;
    right: 3em;
}

.eb-colr-white {
    color: white;
}
.eb-sign-up-btn {
    border-radius: 30px;
    background-color: #17af10;
}