<div class="eb-bg-clor">
    <div class="container">
        <div class="row">
            <div class="col">
                <div>
                    <span>Your usage decides your energy cost</span>
                </div>
                <div>
                    <span>Helping texans reduce their electricity bills</span>
                </div>
                <div>
                    <span>Enter your smart meter Id*</span>
                    <input type="text" class="form-control" aria-label="Text input with dropdown button">
                </div>
                <div>
                    Enter zip code*
                    <input type="text" class="form-control" aria-label="Text input with dropdown button">
                    Duration in this address? *
                    <input type="text" class="form-control" aria-label="Text input with dropdown button">
                </div>
            </div>
            <div class="col">
                <img src="./assets/images/find_plan.svg" width="50%"  alt="">
            </div>
        </div>
    </div>
</div>