<div class="eb-bg-clor">
    <div class="container">
        <div class="row">
            <div class="col" style="text-align: center;">
                <div>
                    <span>Why Texans need MyEnergyBuddy?</span>
                </div>
                <div>
                    <span>A simple and easy to use tool to pick the right plan for you</span>
                </div>
                <div>
                    <img src="./assets/images/video_img.png" width="50%"  alt="">
                </div>
            </div>
        </div>
    </div>
</div>