<div class="">
    <div class="container">
        <div class="row">
            <div style="width: 100%;text-align: center;">Why MyEnergyBuddy is different?</div>
            <div style="width: 100%;text-align: center;">
                A simple and easy to use tool to pick the right plan for you
            </div>
        </div>
        <div class="row" style="text-align: center;">
            <div class="col">
                <img src="./assets/images/whyeb1.png" width="50%"  alt="">
                <div>Free to use</div>
                <div>Absolutely no cost to Texas consumers. 
                    No signup fees or hidden charges.</div>
            </div>
            <div class="col">
                <img src="./assets/images/whyeb2.png" width="50%"  alt="">
                <div>Smart Algorithm</div>
                <div>MyEnergyBuddy looks at 100s of energy plans and recommends the cheapest based on your actual usage.</div>
            </div>
            <div class="col">
                <img src="./assets/images/whyeb3.png" width="50%"  alt="">
                <div>Easy Signup</div>
                <div>Direct web enrollment links and peace of mind for a year long.</div>
            </div>
        </div>
    </div>
</div>