<div class="">
    <div class="container">
        <div class="row">
            <div class="col" style="text-align: center;">
                <!-- ----- -->
                <!-- src="./assets/images/video_img.png" -->
                    <div>What MyEnergyBuddy users say</div>
                    <div>A simple and easy to use tool to pick the right plan for you</div>
                    <div style="height: 400px;"></div>
                <!-- ----- -->
            </div>
        </div>
    </div>
  </div>